body{
    background-image: url("home background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-size: large;
    font-weight: bold;
    font-family: Vend Sans;
}
#navbar{
    background-color: rgb(224, 219, 219);
    border-radius: 10px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}
.link a{
    text-decoration: none;
}
.link:hover{
    color: rgb(77, 77, 77);
    transform: scale(1.3);
    transition: transform 0.2s;
}
.link :visited{
    text-decoration: none;
    color: black;
}
#navbar:active{
    color: rgb(125, 126, 126);
    transition: color 0.2s;
}
#maintext{
    font-family: 'Zalando Sans Expanded';
    font-size: 100px;
    margin-top: 10vh;
    text-align: center;
    color: rgb(224, 219, 219);
}
#picture img{
    margin: 0;
    width: 300px;
    border-radius: 30px;
}
#picture{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 400px;
    margin-top: 75px;
    margin-bottom: 50px; 
    margin-left: 200px;
    background-color: rgb(224, 219, 219);
    border-radius: 30px;
}
#text{
    font-size: 40px;
    width: 900px;
    margin-top: -400px;
    margin-left: 40%;
    display: flex;
    color: rgb(224, 219, 219);
}