body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  font-size: large;
  font-weight: bold;
  font-family: Vend Sans;
  background-image: url("projects.jpg");
  color: rgb(224, 219, 219);
  text-align: center;
}
#navbar {
  background-color: rgb(224, 219, 219);
  border-radius: 10px;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
}
.link a {
  text-decoration: none;
}
.link:hover {
  color: rgb(77, 77, 77);
  transform: scale(1.3);
  transition: transform 0.2s;
}
.link :visited {
  text-decoration: none;
  color: black;
}
#navbar:active {
  color: rgb(125, 126, 126);
  transition: color 0.2s;
}
.border{
    display: inline-block;
    background-color: rgb(224, 219, 219);
    color: black;
    border-radius: 30px;
    text-align: center;
    padding-top: 25vh;
    padding-bottom: 25vh;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    margin-top: 15vh;
}
.border p{
    font-size: 50px;
}
.border a{
    color: black
}
.border:visited{
    color: black;
}