body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  font-size: large;
  font-weight: bold;
  font-family: Vend Sans;
  background-image: url("skills\ background.jpg");
  color: rgb(224, 219, 219);
}
#navbar {
  background-color: rgb(224, 219, 219);
  border-radius: 10px;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
}
.link a {
  text-decoration: none;
}
.link:hover {
  color: rgb(77, 77, 77);
  transform: scale(1.3);
  transition: transform 0.2s;
}
.link :visited {
  text-decoration: none;
  color: black;
}
#navbar:active {
  color: rgb(125, 126, 126);
  transition: color 0.2s;
}

#list {
    display: flex;
    list-style-type: none;
    justify-content: center;     
    align-items: center;         
    flex-direction: column;      
    background-color: rgb(224, 219, 219);
    color: black;
    border-radius: 30px;
    width: 800px;
    height: 400px;
    margin-left:30px;
    padding: 20px;
    margin-top: 200px;
    margin-left: 100px;   
}
#list li{
    font-size: 20px;
}
img{
    display: inline-block;
}
.python img{
    width: 200px;
}
.c img{
    width: 200px;
}
.html img{
    width: 250px;
}
.css img{
    width: 300px;
}
.python{
    margin-left: 1200px;
    margin-top: -600px;
}
.c{
    margin-left: 1200px;
    margin-top: 50px;
}
.html{
    margin-left: 1170px;
    margin-top:30px
}
.css{
    margin-top: -150px;
    margin-left: 350px;
}